<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('./partials/_header'); -%>

    <div class="boxes">
      <div>
        <form class="submitform" action="/home/randomselection" method="POST">
          <p>What are you looking for?</p>

          <% if(randMeals.category == "") { %>

          <div>
            <input
              type="radio"
              id="side"
              name="full_course_meal_type"
              value="Side"
            />
            <label for="side">Side</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="maindish"
              name="full_course_meal_type"
              value="Main Dish"
            />
            <label for="maindish">Main Dish</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="dessert"
              name="full_course_meal_type"
              value="Dessert"
            />
            <label for="dessert">Dessert</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="entiremeal"
              name="full_course_meal_type"
              value="Entire Meal"
            />
            <label for="entiremeal">Entire Meal</label><br />
          </div>

          <% } else if(randMeals.category == "Side") { %>

          <div>
            <input
              type="radio"
              id="side"
              name="full_course_meal_type"
              value="Side"
              checked
            />
            <label for="side">Side</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="maindish"
              name="full_course_meal_type"
              value="Main Dish"
            />
            <label for="maindish">Main Dish</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="dessert"
              name="full_course_meal_type"
              value="Dessert"
            />
            <label for="dessert">Dessert</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="entiremeal"
              name="full_course_meal_type"
              value="Entire Meal"
            />
            <label for="entiremeal">Entire Meal</label><br />
          </div>

          <% } else if(randMeals.category == "Main Dish") { %>

          <div>
            <input
              type="radio"
              id="side"
              name="full_course_meal_type"
              value="Side"
            />
            <label for="side">Side</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="maindish"
              name="full_course_meal_type"
              value="Main Dish"
              checked
            />
            <label for="maindish">Main Dish</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="dessert"
              name="full_course_meal_type"
              value="Dessert"
            />
            <label for="dessert">Dessert</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="entiremeal"
              name="full_course_meal_type"
              value="Entire Meal"
            />
            <label for="entiremeal">Entire Meal</label><br />
          </div>

          <% } else if(randMeals.category == "Dessert") { %>

          <div>
            <input
              type="radio"
              id="side"
              name="full_course_meal_type"
              value="Side"
            />
            <label for="side">Side</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="maindish"
              name="full_course_meal_type"
              value="Main Dish"
            />
            <label for="maindish">Main Dish</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="dessert"
              name="full_course_meal_type"
              value="Dessert"
              checked
            />
            <label for="dessert">Dessert</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="entiremeal"
              name="full_course_meal_type"
              value="Entire Meal"
            />
            <label for="entiremeal">Entire Meal</label><br />
          </div>

          <% } else if (randMeals.category == "Entire Meal") { %>

          <div>
            <input
              type="radio"
              id="side"
              name="full_course_meal_type"
              value="Side"
            />
            <label for="side">Side</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="maindish"
              name="full_course_meal_type"
              value="Main Dish"
            />
            <label for="maindish">Main Dish</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="dessert"
              name="full_course_meal_type"
              value="Dessert"
            />
            <label for="dessert">Dessert</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="entiremeal"
              name="full_course_meal_type"
              value="Entire Meal"
              checked
            />
            <label for="entiremeal">Entire Meal</label><br />
          </div>
          <% } else { %>

          <div>
            <input
              type="radio"
              id="side"
              name="full_course_meal_type"
              value="Side"
            />
            <label for="side">Side</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="maindish"
              name="full_course_meal_type"
              value="Main Dish"
            />
            <label for="maindish">Main Dish</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="dessert"
              name="full_course_meal_type"
              value="Dessert"
            />
            <label for="dessert">Dessert</label><br />
          </div>

          <div>
            <input
              type="radio"
              id="entiremeal"
              name="full_course_meal_type"
              value="Entire Meal"
            />
            <label for="entiremeal">Entire Meal</label><br />
          </div>

          <% } %>

          <button class="buttonLetsCook" type="submit">Let's Cook</button>
        </form>
      </div>
      <div class="boxmealdish">

        <% if(randMeals.category == "" || randMeals.meal == null || randMeals.meal == "undefined with a side of undefined and undefined for dessert") { %>          
       
          <div class="meal-dish">
            <img src="/images/meal-dish.png" alt="Meal Logo" />
          </div>
       
        <% } else if(randMeals.category === undefined) { %>

          <h1 class="headercaption">What's for dinner?</h1>
          <p class="captiondish"><%= randMeals.meal %></p>
  
          <form
            action="/home/clearfavrecipe"
            method="POST"    
          >
            <button class="buttonclear" type="submit">Clear</button>
          </form>
          <form
            class="addfavrecipeform"
            action="/home/addfavrecipe"
            method="POST"  
          >
          </form>

        <% } else if(randMeals.category == "Entire Meal") { %>

          <h1 class="headercaption">What's for dinner?</h1>
          <p class="captiondish"><%= randMeals.meal %></p>
  
          <form
            action="/home/clearfavrecipe"
            method="POST"
          >
            <button class="buttonclear" type="submit">Clear</button>
          </form>
          <form
            class="addfavrecipeform"
            action="/home/addfavrecipe"
            method="POST"
          >
            <div id="star" onclick="favouriteClick()">
              <label>
                <input type="submit" />
                  <svg
                  width="50px"
                  height="48px"  
                  viewBox="0 0 50 48"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                  <path
                  d="M21,34 L10.4346982,39.5545079 C8.47875732,40.5828068 7.19697214,39.6450119 7.56952871,37.4728404 L9.5873218,25.7082039 L1.03981311,17.3764421 C-0.542576313,15.8339937 -0.0467737017,14.3251489 2.13421047,14.0082334 L13.946577,12.2917961 L19.2292279,1.58797623 C20.2071983,-0.393608322 21.7954064,-0.388330682 22.7707721,1.58797623 L28.053423,12.2917961 L39.8657895,14.0082334 C42.0525979,14.3259953 42.5383619,15.8381017 40.9601869,17.3764421 L32.4126782,25.7082039 L34.4304713,37.4728404 C34.8040228,39.6508126 33.5160333,40.5800681 31.5653018,39.5545079 L21,34 Z"
                  ></path>
                </svg>
              </label>
            </div>
          </form>
        <% } else { %>

          <h1 class="headercaption">What's for dinner?</h1>
          <p class="captiondish"><%= randMeals.meal %></p>  

          <form
          action="/home/deleterecipe/<%=randMeals.category%>/<%=randMeals.meal%>/delete"
          method="POST"
          >
            <button class="buttondeleterecipe" type="submit" onclick="removeRecipeNotifiction()">Remove Recipe</button>
          </form>
          
          <form
          action="/home/clearfavrecipe"
          method="POST"
          >
            <button class="buttonclear" type="submit">Clear</button>
          </form>

        <form
          class="addfavrecipeform"
          action="/home/addfavrecipe"
          method="POST"
        >
          <div id="star" onclick="favouriteClick()">
            <label>
              <input type="submit" />
                <svg
                width="50px"
                height="48px"  
                viewBox="0 0 50 48"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                <path
                d="M21,34 L10.4346982,39.5545079 C8.47875732,40.5828068 7.19697214,39.6450119 7.56952871,37.4728404 L9.5873218,25.7082039 L1.03981311,17.3764421 C-0.542576313,15.8339937 -0.0467737017,14.3251489 2.13421047,14.0082334 L13.946577,12.2917961 L19.2292279,1.58797623 C20.2071983,-0.393608322 21.7954064,-0.388330682 22.7707721,1.58797623 L28.053423,12.2917961 L39.8657895,14.0082334 C42.0525979,14.3259953 42.5383619,15.8381017 40.9601869,17.3764421 L32.4126782,25.7082039 L34.4304713,37.4728404 C34.8040228,39.6508126 33.5160333,40.5800681 31.5653018,39.5545079 L21,34 Z"
                ></path>
              </svg>
            </label>
          </div>

          <p id="removeRecipeNotice"></p>
        </form>
      <% } %>  
      </div>
      <script>
        function favouriteClick() {
          if (star.className == "active") {
            star.className = "";
          } else {
            star.className = "active";
          }
        }
        
        function footerToggle() {
            $(".footer").toggle();
          }

        function removeRecipeNotifiction() {
          document.getElementById("removeRecipeNotice").innerHTML = "Recipe is removed!";
        }

      </script>
    </div>

    <!-- Page-specific (main) content here -->
    <main class="container"></main>
    <footer class="footer">
      <div class="recipefooter">
        <form action="/home/addnewrecipe" method="POST">
        <label for="inputtype">Recipe Type: </label>
        <select name="inputtype" class="mealsOptions">
          <option value="Side">Side</option>
          <option value="Main Dish">Main Dish</option>
          <option value="Dessert">Dessert</option>
        </select>
        <label for="inputname">Recipe Name: </label>
        <input type="text" class="recipename" name="inputname" />
          <button class="buttonaddnewrecipe" type="submit">
            Add New Recipe!
          </button>
        </form>
      </div>
    </footer>
  </body>
</html>
